.serverError {
  margin: 10px;
}

.quadruple {
  position: relative;
}

canvas {
  position: absolute;
  width: 250px;
  height: 250px;
}

.field {
  border: 1px solid black;
  padding: 10px;
}

.checkbox {
  margin: 3px;
}

.label {
  display: block-inline;
}

.fieldLegend {
  margin-top: -5px;
}
